@import '{reywood:bootstrap3-sass}/bootstrap';

/* CSS declarations go here */
/*body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}
*/
header {
  /*background: #d2edf4;*/
  /*background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);*/
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

.delete {
  background: rgba(0, 0, 0, 0.1);
  font-size: 1em;
  border: none;
  border-radius: 6px 6px 0 0;
  width: 2em;

  /* Position at center bottom */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

li.checked {
  background: rgba(0, 0, 0, 0.1);
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

/*header .hide-unavailable-drinks, header .hide-unavailable-liquors, header .hide-unavailable-mixers,  {
  float: right;
}*/

.toggle-private {
  margin-left: 5px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.flex-item {
  position: relative;
  background: #EF4E4E;
  border-radius: 50%;
  padding: 8px;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  color: white;

  /* Center text inside flex-item */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  word-wrap: break-word;
  text-align: center;

  /* Show scrollbar if text is too long */
  overflow: auto;

  /* Make the flex-item appear clickable */
  cursor: pointer;
}
