@import '{reywood:bootstrap3-sass}/bootstrap';

$default-transition-duration: 111ms

@mixin border-radius( $radius-top-left,
                      $radius-top-right: $radius-top-left,
                      $radius-bottom-right: $radius-top-left,
                      $radius-bottom-left: $radius-top-left) {
  -webkit-border-radius: $radius-top-left $radius-top-right $radius-bottom-right $radius-bottom-left;
     -moz-border-radius: $radius-top-left $radius-top-right $radius-bottom-right $radius-bottom-left;
      -ms-border-radius: $radius-top-left $radius-top-right $radius-bottom-right $radius-bottom-left;
          border-radius: $radius-top-left $radius-top-right $radius-bottom-right $radius-bottom-left;
}

@mixin transition-background($duration: $default-transition-duration) {
  -webkit-transition: background $duration linear;
     -moz-transition: background $duration linear;
      -ms-transition: background $duration linear;
          transition: background $duration linear;
}

#login-buttons {
  display: block;
}

.delete {
  background: rgba(0, 0, 0, 0.1);
  font-size: 1em;
  border: none;
  @include border-radius(6px, 6px, 0, 0);
  width: 2em;

  /* Position at center bottom */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;

  /* Add transition effect for smooth background color change */
  @include transition-background;
}
.delete:hover {
  background: rgba(0, 0, 0, 0.2);
}

li.checked {
  background: rgba(0, 0, 0, 0.1);
  color: #888;

  /* Add transition effect for smooth background color change */
  @include transition-background;
}
.flex-item.checked:hover {
  background: #F7D8D8;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

/*header .hide-unavailable-drinks, header .hide-unavailable-liquors, header .hide-unavailable-mixers,  {
  float: right;
}*/

.toggle-private {
  margin-left: 5px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.flex-item {
  position: relative;
  background: #EF4E4E;
  @include border-radius(50%);
  padding: 8px;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  color: white;

  /* Center text inside flex-item */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  word-wrap: break-word;
  text-align: center;

  /* Show scrollbar if text is too long */
  overflow: auto;

  /* Make the flex-item appear clickable */
  cursor: pointer;

  /* Add transition effect for smooth background color change */
  @include transition-background;
}
.flex-item:not(.checked):hover {
  background: #E04242;
}
