@import '{reywood:bootstrap3-sass}/bootstrap';

$default-transition-duration: 111ms;
$border-color: #ddd;

@mixin border-radius( $radius-top-left,
                      $radius-top-right: $radius-top-left,
                      $radius-bottom-right: $radius-top-left,
                      $radius-bottom-left: $radius-top-left) {
  -webkit-border-radius: $radius-top-left $radius-top-right $radius-bottom-right $radius-bottom-left;
     -moz-border-radius: $radius-top-left $radius-top-right $radius-bottom-right $radius-bottom-left;
      -ms-border-radius: $radius-top-left $radius-top-right $radius-bottom-right $radius-bottom-left;
          border-radius: $radius-top-left $radius-top-right $radius-bottom-right $radius-bottom-left;
}

@mixin transition-background($duration: $default-transition-duration) {
  -webkit-transition: background $duration linear;
     -moz-transition: background $duration linear;
      -ms-transition: background $duration linear;
          transition: background $duration linear;
}

#login-buttons {
  display: block;
}

.delete {
  background: rgba(0, 0, 0, 0.1);
  font-size: 1em;
  border: none;
  @include border-radius(6px, 6px, 0, 0);
  width: 2em;

  /* Position at center bottom */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;

  /* Add transition effect for smooth background color change */
  @include transition-background;
}
.delete:hover {
  background: rgba(0, 0, 0, 0.2);
}

li.private {
  background: #eee;
  border-color: $border-color;
}

li.toggle-selected {
  cursor: pointer;
  @include transition-background;
}
li.new-drink-ingredient {
  list-style-type: none;
  line-height: 200%;
  padding: 0.5em;
  border-bottom: 1px solid $border-color;
}
li.new-drink-ingredient input {
  line-height: 100%;
}
li.new-drink-ingredient:first-child {
  border-top: 1px solid $border-color;
}
li.toggle-selected:hover {
  background: #e5f5e0;
}
li.toggle-selected.selected {
  background: #a1d99b;
}
form.new-ingredient input {
  border: 0;
  width: 100%;
  padding: 0.5em;
}

/*header .hide-unavailable-drinks, header .hide-unavailable-liquors, header .hide-unavailable-mixers,  {
  float: right;
}*/

.toggle-private {
  margin-left: 5px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.flex-item.ingredient {
  position: relative;
  background: #EF4E4E;
  @include border-radius(50%);
  padding: 0.5em;
  width: 100px;
  height: 100px;
  margin-top: 1em;
  color: white;

  /* Center text inside flex-item */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  word-wrap: break-word;
  text-align: center;

  /* Show scrollbar if text is too long */
  overflow: auto;

  /* Make the flex-item appear clickable */
  cursor: pointer;

  /* Add transition effect for smooth background color change */
  @include transition-background;
}
.flex-item.ingredient:not(.checked):hover {
  background: #E04242;
}
.ingredient.checked {
  background: rgba(0, 0, 0, 0.1);
  color: #888;

  /* Add transition effect for smooth background color change */
  @include transition-background;
}
.ingredient.checked:hover {
  background: #F7D8D8;
}
.checked .text {
  text-decoration: line-through;
}


.flex-item.drink {
  position: relative;
  @include border-radius(6px);
  padding: 0.5em;
  overflow: auto;
  border: 1px solid $border-color;
}

.unavailable-drink {
  background: #eee;
}
